<h2 *ngIf="data" >
	{{datatype}} (isOpen:<span style="color:red">{{isOpen}}</span>)
</h2>

<h1 *ngIf="!data && globals.selectedDataset">
	Loading...
</h1>

<h1 *ngIf="!globals.selectedDataverse">
	Empty Result, please select dataverse
</h1>

<h1 *ngIf="!globals.selectedDataset">
	Please select dataset
</h1>

<table>
	<tr>
		<th *ngFor="let col of cols">
			{{ col}}
		</th>
	</tr>
	<template ngFor let-d [ngForOf]="data" let-r="index" >
		<tr class="row">
			<td *ngFor="let k of cols; let c=index" (click)="selectNestedType(d[k])">
				{{ d[k] }}
			</td>
		</tr>
	</template>
</table>

<div *ngFor="let ndata of nestedData; let i = index" >
	<!-- if selectedDatatype string contain nestedDatatypesDatas[i]["DatatypeName"] -->
	<div *ngIf='selectedNestedDatatype.indexOf(nestedDatatypesDatas[i]["DatatypeName"]) != -1'>
		<h3>{{selectedNestedDatatype}}</h3>
		<table>
			<tr>
				<th *ngFor="let col of cols">
					{{ col }}
				</th>
			</tr>
			<template ngFor let-d [ngForOf]="ndata" let-r="index" >
				<tr class="row">
					<td *ngFor="let k of cols; let c=index">
						{{ d[k] }}
					</td>
				</tr>
			</template>
		</table>
	</div>
</div>


